.form_item__component {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.form_item__component:hover {
  background: var(--background-color);
}

.form_item__checkout {
  margin-right: 0.5em;
  height: 100%;
}

.form_item__text {
  vertical-align: super;
}
