.property_bar__component {
  position: absolute;
  right: 1em;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.property_bar__button {
  margin-right: 0.5em;
  opacity: 0.1;
  transition: opacity 0.25s ease-in-out;
}

.property_bar__button:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
