.todo_item__component {
  cursor: pointer;
  padding: 0.5em;
}

.todo_item__component-completed {
  opacity: 0.3;
}

.todo_item__checkout {
  opacity: 0.5;
}

.todo_item__text {
  white-space: pre-wrap;
}
