.property_bar_todo_item__component {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.property_bar_todo_item__button {
  opacity: 0.4;
  transition: opacity 0.25s ease-in-out;
}

.property_bar_todo_item__button:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
